{% extends "OrderForms/main.html" %}
{% load static %}
{% block body %}

<body>
<div class="container"><br><br><br>
    <div style=" width: 100%; overflow-x: scroll;">
        <center>
        	<img src="{% static 'assets/images/otto-loading.svg' %}" style="width: 200px;">
            <h1 class="text-center login-title">Scan QRCode to continue:</h1><br>
            <div class="account-wall" style="width: 400px;">
                <form class="form-signin">
                <input type="text" id = "QRCode" class="form-control" placeholder="QRCode" required autofocus>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Login
                </button>
            </div>
        </center>
    </div>
</div>

</body>
{% endblock %}