{% load static %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>OTTO</title>
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/icons/favicon-32x32.png' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap-grid.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap-reboot.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <script src="{% static 'assets/js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.js' %}"></script>
  <script src="{% static 'Form/localstorage.js' %}"></script>
</head>
{% block body %}

{% endblock %}